<div class="panel panel-default">
  <div class="panel-heading">Editar aluno</div>
  <div class="panel-body">
    <form class="form-horizontal" (submit)="alterarAluno()">
  <div class="form-group">
    <label for="emp_name" class="col-sm-2 control-label">Nome: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="aluno.nome" name="nome">
    </div>
  </div>
  <div class="form-group">
    <label for="position" class="col-sm-2 control-label">E-mail: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="aluno.email" name="email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9">
      <input type="hidden" class="form-control"  [(ngModel)]="aluno.matricula" name="matricula">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
    <button type="submit" class="btn btn-success">Alterar</button>
      <a  class="btn btn-info" (click)="goBack()">Cancelar</a>
    </div>
   
  </div>
</form>

  </div>
</div>
